.contact-section {
  padding: 60px 0;
}

.contact-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  margin-bottom: 30px;
}

.contact-info i {
  font-size: 1.5rem;
  color: var(--bs-primary);
  margin-right: 10px;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--bs-primary);
}

.btn-primary{
  font-size: 18px;
}